
.row {
  display: table;
}

[class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.custom-gap {
  margin-bottom: 1rem;
}

.display-1 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}

.lead {
  font-size: 1.15rem;
}

.instruction {
  font-size: 1rem;
}

.col-md-4 {
  padding-left: 0;
  padding-right: 1rem;
}

#markdown-container {
    display: flex;
    justify-content: space-between;
}

.entity-section-wrapper__body:not(.project-list) {
    max-width: none;
}