{{/*
Cover page layout. This controls the home page of the publication.
*/}}

{{ define "main" }}

{{ if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end }}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
  .square {
      padding: 0;
      position: relative;
      text-align: center;
  }
  .square img {
      display: block;
      margin: 10% auto 0;
      max-width: 30% !important;
  }
</style>

<div class="{{ partial "page-class.html" . }} quire-cover" id="main" role="main">

  <div class="container center">

    <div class="row">
      <div class="col-md-4 square"><a href="/catalogue"><img src="img/cover/1.jpg" /> Catalogue</a></div>
      <div class="col-md-4 square"><a href="/group1"><img src="img/cover/1.jpg" /> Group 1</a></div>
      <div class="col-md-4 square"><a href="/group2"><img src="img/cover/1.jpg" /> Group 2</a></div>
    </div>

    <div class="row">
      <div class="col-md-4 square"><a href="#"><img src="img/cover/2.jpg" /> placeholder title</a></div>
      <div class="col-md-4 square"><a href="#"><img src="img/cover/2.jpg" /> placeholder title</a></div>
      <div class="col-md-4 square"><a href="#"><img src="img/cover/1.jpg" /> placeholder title</a></div>
    </div>
    
    <div class="row">
      <div class="col-md-4 square"><a href="#"><img src="img/cover/2.jpg" /> placeholder title</a></div>
      <div class="col-md-4 square"><a href="#"><img src="img/cover/2.jpg" /> placeholder title</a></div>
      <div class="col-md-4 square"><a href="#"><img src="img/cover/2.jpg" /> placeholder title</a></div>
    </div>

  </div>
 </div>
</div>

{{ end }}